*.sqlite
*.iml
*.log
*.jar
.attach_pid*

.classpath
.project
.settings/
.gradle/
.victims/
.idea/
.vscode/
bin/
target/
build/
logs/
src/main/webapp/findbugs
src/main/webapp/upload/*

dependency_check/

settings.json