<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
    <policy>Default Policy</policy>
    <scanner>
        <level>MEDIUM</level>
        <strength>INSANE</strength>
    </scanner>
    <plugins>
        <p6>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p6>
        <p7>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p7>
        <p10045>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p10045>
        <p40009>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p40009>
        <p40012>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p40012>
        <p40014>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p40014>
        <p40018>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p40018>
        <p90019>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p90019>
        <p90020>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p90020>
        <p0>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p0>
        <p20019>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p20019>
        <p30001>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p30001>
        <p30002>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p30002>
        <p40003>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p40003>
        <p40008>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p40008>
        <p40016>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p40016>
        <p40017>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p40017>
        <p50000>
            <enabled>true</enabled>
            <level>HIGH</level>
            <strength>INSANE</strength>
        </p50000>
    </plugins>
</configuration>
