/* You can add global styles to this file, and also import other style files */
*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #385300;
	background: #FBFFF2;
	line-height: 200%;
	margin: 30px 0;
}

img
{
	border: 0;
}

img.imgright
{
	float: right;
	margin: 0 0 15px 15px;
	padding: 5px;
	border: 1px solid #D7D9D0;
}

a
{
	color: #659500;
	text-decoration: none;
}

a:hover
{
	color: #385300;
	text-decoration: none;
}




#border
{
	margin: 0 auto;
	border: 1px solid #4D7100;
	width: 760px;
	padding: 20px;
	background: #FFF;
}

#container
{
	width: 760px;
	background: #f5f5f5;
	border: 1px solid #669900;
}




#menu
{
	width: 720px;
	padding: 0 20px;
	height: 40px;
	border-bottom: 1px solid #669900;
	background: #FCFFF4;
}

#menu ul
{
	float: right;
	list-style-type: none;
}

#menu ul li
{
	display: inline;
	line-height: 40px;
	margin: 0 0 0 5px;
}

#menu ul li a
{
	color: #385300;
	text-decoration: none;
}

#menu ul li a:hover
{
	color: #659500;
	text-decoration: none;
}




#header
{
	width: 760px;
	height: 125px;
	border-bottom: 1px solid #669900; 
	background-image:url('assets/header.jpg');
}

#header p
{
	font-size: 32px;
	margin: 0 20px;
	line-height: 125px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	text-align: right;
	color: #385300;
}




#content
{
	width: 720px;
	padding: 20px;
	background: #FCFFF4;
	border-right: 1px solid #669900;
}

#content p
{
	margin: 0 0 15px 0;
}

#content h1, h2, h3, h4, h5
{
	margin: 0 0 15px 0;
	font-size: 24px;
	color: #659500;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#content ul
{
	margin: 0 0 15px 30px;
	list-style-type: square;
	color: #659500;
}

#content ul li span
{
	color: #385300;
}

#content ol
{
	margin: 0 0 15px 30px;
	color: #659500;
}

#content ol li span
{
	color: #385300;
}

#content p.blockquote
{
	margin: 0 0 15px 20px;
	padding: 0 0 0 15px;
	border-left: 3px solid #659500;
}





#footer
{
	width: 720px;
	height: 36px;
	padding: 0 20px;
	text-align: right;
	background: #EFFFCE;
	border-top: 1px solid #669900;
}

#footer p
{
	margin: 0;
	padding: 0;
	font-size: 11px;
	line-height: 36px;
}